@model serviceReport.Models.Auditoria.Auditoria

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="section-title row text-center">
    <h3>Gestión de Auditoría:</h3><br />
    <p>2 / 100</p>
</div>


@foreach (var dominio in Model.Dominios)
{
    <h1>@dominio.Dominio.NombreCompleto </h1><br />
    <div id="alert_@dominio.Id" class="alert alert-warning" role="alert">
        <label id="lbl_@dominio.Id">Tiene preguntas pendientes por gestionar!</label>

        <div class="progress">
            <div id="progress_@dominio.Id" class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><br /></div>
        </div>

    </div>

    <script>
        var alert_@dominio.Id = @dominio.Preguntas.Count;
        var progress_@dominio.Id = 0;
        function validarDominio(id) {
            alert_@dominio.Id = alert_@dominio.Id - 1;
            //alert(alert_@dominio.Id);

            if (alert_@dominio.Id <= 0) {
                document.getElementById("lbl_" + id).innerHTML = "Este dominio ya ha sido completado!";
                document.getElementById("alert_" + id).classList.add('alert-success');
                document.getElementById("alert_" + id).classList.remove('alert-warning');

                //ProgressBar
                @*var progress_@dominio.Id += 100/@dominio.Preguntas.Count;
                document.getElementById("progress_" + id).setAttribute.remove("aria-valuenow");
                document.getElementById("progress_" + id).setAttribute.add("aria-valuenow", );
                console.log("%: " + progress_@dominio.Id);*@
            //aria - valuenow="50"

            }

        }
    </script>

    foreach (var pregunta in dominio.Preguntas)
    {
        <div class="row">
            <div class="col-md-4">

                <!-- Default dropright button -->
                <div class="btn-group dropright">
                    <button id="btn_@pregunta.Id" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @pregunta.Descripcion
                    </button>
                    <div class="dropdown-menu">
                        <!-- Dropdown menu links -->

                        @foreach (var respuesta in ViewBag.Respuestas)
                        {
                            <a class="dropdown-item" onclick="GuardarRespuesta(@pregunta.Id, @respuesta.Id, '@respuesta.NombreNivel', @dominio.Id);">@respuesta.NombreNivel</a><br />
                        }
                    </div>
                    <p><strong id="rta_@pregunta.Id"></strong></p>
                </div>
            </div>
        </div>
        <br />
    }
}



<br /><br /><br /><br /><br /><br /><br /><br /><br />

<script>
    function GuardarRespuesta(idPregunta, idRespuesta, value, idDominio) {
        var idAuditoria = @Model.Id;
        /*$.ajax({
            type: "GET",
            url: "responder?idAuditoria=" + idAuditoria + "&idPregunta=" + idPregunta + "&idRespuesta=" + idRespuesta,
            //data: data,
            success: function () {
                console.log("success")
            }
        });*/
        console.log("pregunta: " + idPregunta);
        console.log("respuesta: " + idRespuesta);
        console.log("auditoria: " + idAuditoria);
        console.log("value: " + value);
        console.log("element: " + "rta_" + idPregunta);
        document.getElementById("rta_" + idPregunta).innerHTML = value;
        document.getElementById("btn_" + idPregunta).classList.add('btn-success');
        document.getElementById("btn_" + idPregunta).classList.remove('btn-info');

        validarDominio(idDominio);
    }
    </script>

