@model serviceReport.Models.Auditoria.Auditoria

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>    

    var totalPreguntas  = @Model.Dominios.Select(d => d.Preguntas.Count).Sum();
    var totalPendientes = @ViewBag.TotalPendientes;
    function actualizarResumen() {

        if (totalPendientes == 0) {
            document.getElementById("btn_confirmar").classList.add('btn-success');
            document.getElementById("btn_confirmar").classList.remove('btn-warning');
            document.getElementById("btn_confirmar").value = "Confirmar!";

            document.getElementById("resumen").innerHTML = "Disponible para confirmar!";
            document.getElementById("resumen").classList.add('btn-success');
        }
        else {
            document.getElementById("resumen").innerHTML = "Pendientes:  " + totalPendientes + " de " + totalPreguntas;
            document.getElementById("btn_confirmar").value = "Pendientes:" + totalPendientes;
        }
        
    }

    actualizarResumen();

</script>

<div class="section-title row text-center">
    <h3>Gestión de Auditoría:</h3><br />
    <p><label id="resumen"><script>actualizarResumen();</script></label></p>
</div>


@foreach (var dominio in Model.Dominios)
{
    int pendientes = dominio.Preguntas.Where(d => d.Respuesta == null).Count();
    <h1>@dominio.Dominio.NombreCompleto </h1><br />
    <div id="alert_@dominio.Id" class="alert @(pendientes==0?"alert-success":"alert-warning")" role="alert">
        @if(pendientes>0)
        {
            <label id="lbl_@dominio.Id">Tiene @pendientes preguntas pendientes por gestionar!</label>
        }
        else
        {
            <label id="lbl_@dominio.Id">Este dominio ya ha sido completado!</label>
        }

        <div class="progress">
            <div id="progress_@dominio.Id" class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><br /></div>
        </div>

    </div>

    <script>

        var alert_@dominio.Id = @dominio.Preguntas.Where(p=>p.Respuesta==null).Count();
        var progress_@dominio.Id = 0;

        function validarDominio(id) {
            eval("validarDominio_" + id + "("+id+");");
        }

        function @Html.Raw("validarDominio_"+dominio.Id+"(id)") {

            alert_@dominio.Id = alert_@dominio.Id - 1;
            console.log(alert_@dominio.Id);
            totalPendientes = totalPendientes - 1;
            actualizarResumen();
            var porcentaje = (100 / @dominio.Preguntas.Count) * (@dominio.Preguntas.Count - alert_@dominio.Id);

            if (alert_@dominio.Id <= 0) {
                document.getElementById("lbl_" + id).innerHTML = "Este dominio ya ha sido completado!";
                document.getElementById("alert_" + id).classList.add('alert-success');
                document.getElementById("alert_" + id).classList.remove('alert-warning');
            } else {
                document.getElementById("lbl_" + id).innerHTML = "Tiene " + alert_@dominio.Id+ " preguntas pendientes por gestionar!";
            }

            //ProgressBar
            document.getElementById("progress_" + id).style.width = porcentaje + "%";
            console.log(porcentaje + "%");
            console.log("Dominio:" + id);
            
        }
    </script>

    foreach (var pregunta in dominio.Preguntas)
    {
        <div class="row">
            <div class="col-md-4">

                <!-- Default dropright button -->
                <div class="btn-group dropright">                    
                    <button id="btn_@pregunta.Id" type="button" class='btn @(pregunta.Respuesta==null?"btn-info":"btn-success")' dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @pregunta.Descripcion
                    </button>
                    <div class="dropdown-menu">
                        <!-- Dropdown menu links -->

                        @foreach (var respuesta in ViewBag.Respuestas)
                        {
                            <a class="dropdown-item" onclick="GuardarRespuesta(@pregunta.Id, @respuesta.Id, '@respuesta.NombreNivel', @dominio.Id);">@respuesta.NombreNivel</a><br />
                        }
                    </div>
                    <p><strong id="rta_@pregunta.Id">@if (pregunta.Respuesta != null) { @Html.Raw("</br>"+pregunta.Respuesta.NombreNivel); }</strong></p>
                </div>
            </div>
        </div>
        <br />
    }
}



<br /><br /><br /><br /><br /><br /><br /><br /><br />

<script>
    function GuardarRespuesta(idPregunta, idRespuesta, value, idDominio) {
        var idAuditoria = @Model.Id;
        $.ajax({
            type: "GET",
            url: "responder?idAuditoria=" + idAuditoria + "&idPregunta=" + idPregunta + "&idRespuesta=" + idRespuesta,
            //data: data,
            success: function () {

                //Dewspues de guardar
                console.log("dominio: " + idDominio);
                document.getElementById("rta_" + idPregunta).innerHTML = value;                

                if (document.getElementById("btn_" + idPregunta).classList.contains('btn-info')) {
                    document.getElementById("btn_" + idPregunta).classList.add('btn-success');
                    document.getElementById("btn_" + idPregunta).classList.remove('btn-info');
                    validarDominio(idDominio);
                }
                
            }
        });

        //window["validarDominio_" + idDominio]();
        
    }
    function Confirmar() {

        //Dewspues de guardar
        if (confirm("Guardar auditoria definitivamente?")) {
            window.location.href = "Lista?idAuditoria=" + idAuditoria;

            var idAuditoria = @Model.Id;
            $.ajax({
                type: "GET",
                url: "finalizar?idAuditoria=" + idAuditoria,
                //data: data,
                success: function () {

                    window.location.href = "Lista?idAuditoria=" + idAuditoria;

                }
            });

        } else {
            return false;
        }
    }
        
    </script>

<div class="btn-group addGruoup">

    <input id="btn_confirmar" type="button" class="btn btn-warning dropdown-toggle" onclick="Confirmar();" />
    <script>actualizarResumen();</script>
    <div class="dropdown-menu">
    </div>

</div>

