@model IEnumerable<serviceReport.Models.Auditoria.Auditoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Auditorias</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Auditor.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpresaAuditoria.NombreEntidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaAuditoria)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Auditor.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpresaAuditoria.NombreEntidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAuditoria)
            </td>
            <td>

                @switch (item.IdEstadoAuditoria)
    {
        case 1:
            @:<a href="~/Auditorias/Edit?id=@item.Id"><img src="@Url.Content("~/content/images/")edit.png" />Editar</a><br />
            <a href="~/Auditorias/Configurar?idAuditoria=@item.Id" class="disabled"><img src="~/content/images/config.png" />Configurar</a><br />
            <label class="disabled"><img src="~/content/images/gestionar-disabled.png" />Gestionar</label><br />
            <label class="disabled"><img src="~/content/images/report-disabled.png" />Consultar</label><br />
            <a href="~/Auditorias/delete?id=@item.Id"><img src="../../content/images/delete.png" />Borrar</a><br />
break;
case 2:
case 3:
            @:<a href="~/Auditorias/Edit?id=@item.Id"><img src="@Url.Content("~/content/images/")edit.png" />Editar</a><br />
            <label class="disabled"><img src="~/content/images/config-disabled.png" />Configurar</label><br />
            <a href="~/Auditorias/gestionar?idAuditoria=@item.Id"><img src="~/content/images/Gestionar.png" />Gestionar</a><br />
            <label><img src="~/content/images/report-disabled.png" />Consultar</label><br />
            <label class="disabled"><img src="~/content/images/delete-Disabled.png" />Borrar</label><br />
break;
case 4:
            @:<label><img src="@Url.Content("~/content/images/")edit-disabled.png" />Editar</label><br />
            <label class="disabled"><img src="~/content/images/config-disabled.png" />Configurar</label><br />
            <label class="disabled"><img src="~/content/images/Gestionar-disabled.png" />Gestionar</label><br />
            <a href="~/Reportes/index?id=@item.Id"><img src="~/content/images/report.png" />Consultar</a><br />
            <label class="disabled"><img src="~/content/images/delete-Disabled.png" />Borrar</label><br />
break;

}

            </td>
        </tr>
    }

</table>
