@model serviceReport.Models.ISO.Grupo

@{
    ViewBag.Title = "Borrar";
}

<h2>Delete</h2>

<h3>Confirma que desea borrar este registro?</h3>
<div>
    <h4>Grupo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Anexo.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anexo.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DominioGrupo.NombreDominio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DominioGrupo.NombreDominio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreGrupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreGrupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consecutivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consecutivo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
